/*@import url(http://fonts.googleapis.com/css?family=Lato);*/

.container {
  width: 800px;
  overflow: hidden;
  display: inline-block;
}
.side-bar {
  background: #ffff;
  position: absolute;
  height: 100%;
  width: 200px;
  color: #fff;
  transition: margin-left 0.5s;
  border-right: 1px solid #ccc;
}

.side-bar ul {
  list-style: none;
  padding: 0px;
}

.side-bar ul li.menu-head {
  font-family: "Lato", sans-serif;
  padding: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 800;
}

.side-bar ul li.menu-head a {
  color: #0000;
  text-decoration: none;
  height: 50px;
}

.side-bar ul .menu-head a {
  color: black;
  text-decoration: none;
  height: 50px;
}

.side-bar ul .menu li a {
  font-size: 16px;
  color: #137ef9;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  display: inline-table;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-bar ul .menu li a:hover {
  border-left: 3px solid #ececea;
  padding-left: 17px;
}

.side-bar ul .menu li a.active {
  padding-left: 17px;
  background: #d9853b;
  border-left: 3px solid #ececea;
}

.side-bar ul .menu li a.active:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 7px solid #d9853b;
  margin-top: -10px;
  margin-left: 180px;
}

.content {
  padding-left: 200px;
  transition: padding-left 0.5s;
}

.active > .side-bar {
  margin-left: -150px;
  transition: margin-left 0.5s;
}
.active > .content {
  padding-left: 50px;
  transition: padding-left 0.5s;
}

.menu li a i {
  margin-right: 15px;
}

.menu .active {
  background: #f6fbfe 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 2px;
  border-left: 6px solid #137ef9;
  padding: 10px;
  border-bottom: 0;
}
.menu li {
  border-bottom: 0px;
  margin-bottom: 20px;
}
.btn_new_document {
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding: 8px;
  background: #137ef9;
  margin: 20px 0px 20px 0px;
}
.btn_new_document:active{
    background-color: #137EF9;
}
.btn_new_document:hover{
  background-color: #137EF9;
}
.btn_new_document:focus {
  box-shadow: none !important;
  outline: none !important;
  color: #fff !important;
  background: #137ef9 !important;
  border: none !important;
}
.toggle_btn {
  background: none;
}
.toggle_btn:hover {
  color: #000 !important;
  background: none !important;
}
.toggle_btn:focus {
  box-shadow: none !important;
}
.d-flex.toggled span {
  display: none !important;
}
.d-flex.toggled .btn_new_document { 
  display: none !important;
}
.d-flex.toggled .show_add_btn {
  display: block !important;
}
.d-flex.toggled .menu i {
  margin-left: 10px;
}
.show_add_btn {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  background-color: #137ef9;
  color: #ffffff;
  display: none;
}
.show_add_btn:focus {
  outline: none;
}
input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border-right: 0px !important;
  border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
}
.search_btn {
  float: right;
  padding: 6px 8px;
  margin-right: 16px;
  background: #fff;
  font-size: 17px;
  border-left: 0px !important;
  border: 1px solid #ccc;
  cursor: pointer !important;
  border-radius: 0px 10px 10px 0px;
}
.search_btn:focus{
  outline: none;
}
.search_box{
  outline: none;
}
.notification_btn {
  font-size: 20px;
  color: #000;
  margin-top: 8px;
}
.notification_icon:active{
  background: #ECF5FF 0% 0% no-repeat padding-box;
  color: black;
}
.notification_icon2:active{
  background: #ECF5FF 0% 0% no-repeat padding-box;
  color: black;
}
.notification_icon2:focus{
  outline: none;
}
.notification_icon3:active{
  background: #ECF5FF 0% 0% no-repeat padding-box;
  color: black;
}
.notification_icon3:focus{
  outline: none;
}
.notification_icon:focus{
  outline: none;
}
.Upgrade_btn {
  background: transparent linear-gradient(257deg, #ffdb25 0%, #ff8c17 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 10px 10px #2323230d;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 7px 20px 2px 20px;
  font-size: 12px;
  margin: 10px;
  color: #ffffff;
}
.Upgrade_btn:focus {
  outline: none;
}
.nav .active {
  border-bottom: 6px solid #137ef9;
}

/* sidebar */
/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

/* #sidebar-wrapper .list-group {
  width: 15rem;
} */

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0rem;
  }
}
.span-title {
  font-weight: 800;
  margin-left: 3px;
}

.doc-subMenu {
 
  border-radius: 11px;
  font-size: 15px;
  height: 74px;
  
}
.user-profile {
  /* transform: translate3d(32px, 0px, 0px) !important; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 11px;
}
.user-profile .user-profile-icons{
    padding-right: 12px;
    font-size: 14px;
}
.d-flex.toggled .doc-subMenu  {
    margin-top: 58px;
  margin-left: -34px;
  border-radius: 11px;
  font-size: 11px;
 
  height: 74px;
  }
  .profile_dropdown:focus{
    outline: none;

  }
  .profile_dropdown:active{
    background: #ECF5FF 0% 0% no-repeat padding-box;
    color: black;
  }
  .setting_dropdown:focus{
    outline: none;
  }
  .setting_dropdown:active{
    background: #ECF5FF 0% 0% no-repeat padding-box;
    color: black;
 }
 .logout_dropdown:focus{
   outline: none;
 }
 .logout_dropdown:active{
  background: #ECF5FF 0% 0% no-repeat padding-box;
  color: black;
 }
 .profile_icon{
  width: 40px;
  padding: 8px 0px 0px 0px;

 }
 .dropdown_icon{
  margin-top: 5px;
  padding: 10px 15px;

 }
 .whiteboard_icon{
   text-decoration: none !important;
 }
 .white_board:focus{
   outline: none;
 }
 .white_board:active{
  background: #ECF5FF 0% 0% no-repeat padding-box;
  color: black;
 }
 .newfolder_icon:active{
  background: #ECF5FF 0% 0% no-repeat padding-box;
  color: black;
 }
 .newfolder_icon:focus{
   outline: none;
 }
 .plus_icon{
  margin-right: 10px;
}
 